/*
J. Henny did it to 'em

Mon May  1 11:50:48 CDT 2023

*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*######;*;*;######*;*;*######;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;#;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;#*;*;#;*;*;*#*;*;#######*;*;#;*;*;*######*;*;*;*#;*;*;*;*;*;#;*;*;**;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*####;*;*;*;*;#;;*;#;*;*;*;#;*;*;*;*;*#*;*;#;*;*;#;*;*;*#*;*;*;#######;*;*;#######*;*;*#;*;*;*;#*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*#*;#;*;*;*;#;*;*#*;*;*;*;#;*;*;*;*;*#*;*;#;*;*;#;*;*;*#*;*;*;#;*;*;#;*;*;#;*;*;#*;*;*;#*;*;*#;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*#*;#*;*;*#*;*;#;*;*;*;*;#;*;*#######*;*;#;*;*;*######;*;*;*;#;*;*;#;*;*;#;*;*;#;*;*;*;#*;*#;*;*;*;*;*;*;*;*;*;*;*;*;*;*
;*;*;*;*;*#*;#;*;#;*;*#;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;*;*;*;*;*#*;*;*#*;*;*#*;*;*#;*;*;*;*#;#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*
*;*;*;*;*;*#*;#;#;*;*#*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*#*;*;*;*;*;*;*#;*;*;#;*;*;#;*;*;#*;*;*;*;*#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*
;*;*;*;*;*;*#*;#;*;*#*;*;*;*;*;*;#;*;*#*;*;*#*;*;#;*;*;*#*;*;*;*;*;*;#;*;*;#*;*;*#;*;*;#;*;*;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*#*;*;*#*;*;*;*;*;*;*#*;*;#;*;*;#;*;*#*;*;*;*#*;*;*;*;*;*#;*;*;#*;*;*#;*;*;#;*;*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*
;*;*;*;*;*;*;*#####*;*;*;*;*;*;*;######*;*;*######;*;*;*;*####*;*;*;*#;*;*;#;*;*;#;*;*;#*;*;*;#;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*#*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;
*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;*;

*/


@font-face {
     font-family: poppins-medium;
     src: url('static/Poppins-Medium.ttf');
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: poppins-medium;
     background-color: #c3cccb;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px; /* set padding to 20px left and right */
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0px;
}

.col {
  flex-basis: calc(100% / 3);
  padding: 10px;
  text-align: left;  /*Menu alignment*/
}

.col-bookend {
  flex-basis: calc(100% / 3);
  padding: 20px;
  text-align: center;  
}

.happy-img-container{
    height: auto;
}

.happy-img {
     width: 100%;
     background-size: cover;
     background-position: center;
     align:center;
}

.top-nav {
     font-size: 20px;
     height: auto;
}

.splash-about {
    font-size: 30px;
    height: auto;
    background-color: #c3cccb;
}

.happy-nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 20px;
 padding-left: 10%;
 padding-right: 10%;
}

.yummy {
  font-style: italic;
  font-size: 14px;
  font-weight: thin;
  color: #888888;
}


h1 {
  color: white;
  text-shadow: 0 0 6px black, 0 0 1px black;     
  text-align: center;
}

h2 {
    font-color: black;
    text-align: center;
    text-shadow: 0 0 5px white, 0 0 5px white;     
}

nav a {
     color: black;
}

ul {
    text-align: center;
    white-space:nowrap
}

nav ul li{
    flex-direction: row;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
     color: #ca1544;
     text-decoration: none;
     font-weight: bold;
}

nav ul li a:hover{
     color: white;
     transition: .3s;
}

.subtitle {
    color: #ca1544;
}
.number {
    text-decoration: none;
    color: #ca1544;
}

/*food and drink*/
.menu-sep {
  border: none;
  height: 3px;
  background-color: #aa0016;
  margin: 20px 0;
  margin-left: 50px;
  margin-right: 50px;
}

/*food and drink*/
.menu-sep-mobile {
  border: none;
  height: 3px;
  margin: 20px 0;
  margin-left: 50px;
  margin-right: 50px;
}
.alcohol-columns {
  column-count: 3;
  column-gap: 20px;
  padding: 0 30px; 
  break-inside: avoid; 
}

.dessert-columns {
  column-count: 4;
  column-gap: 20px;
  padding: 0 30px; 
}

.drink-menu {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  break-inside: avoid-column;
  text-align: left;
}

.footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10;
    }
    
    nav ul li a{
      font-size: 15px;
    }

    .splash-about {
         font-size: 15px;
         height: auto;
     }

    .show {
        display: block;
    }

    .happy-img {
        height: auto;
        overflow: hidden;
        width: 150%;
        margin: 0 -25%;
        background-position: center;
        align:center;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 20px;
    }
    
    .menu-sep {
        height: 2px;
    }
    .iframe {
        max-width: 100%;
        height: 112;
    }

    .row {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .col {
        flex-basis: calc(50% - 50px);
    }
    .dessert-columns {
        column-count: 1;
    }
    .alcohol-columns {
        column-count: 1;
    }
    .drink-menu {
        text-align: center;
    }

    .menu-sep-mobile, .menu-sep {
        visibility: hidden;
    }
}