include tatuagem/extension_to_lang.json
include tatuagem/lang_to_block_syntax.json
recursive-include tatuagem/fonts *
include README.md
include LICENSE
include CHANGELOG.md
recursive-exclude tests *
exclude publish.py
exclude tatu.png
exclude lappel.png
exclude coverage.svg
exclude .tatignore.example
